        <div id = "container">
            <!--<img src="sfondo5.png" id="sfondo">-->
            <div id = "box">
                <form id="/login" name="login" method="post">
                        <input type="email" name="email" placeholder="Email">
                        <br>
                        <input type="password" name="password" placeholder="Password">
                        <input type="submit" value="Login" id="submit">

                </form>
                <br>
                <p>Non hai un account? <a href="/registrazione"> Registrati</a></p>
                <br>
                <p>Oppure accedi con</p>
                <img src="/image/fb.png" id = "icon" width="40px" height="40px">
                <img src="/image/twitter.png" id="icon" width="40px" height="40px">
                <img src="/image/google.png" id="icon" width="40px" height="40px">

            </div>

            <!--<div id = "left-box">
                <h1>Hai un account?</h1>
                <h2>Login</h2>
                <form name="login" method="post">
                    <input type="text" name="username" value="username">
                    <br>
                    <input type="password" name="password" value="password">

                </form>

            </div>
            <div id = "right-box">

            </div>-->
        </div>
