<div id="box-reg">
    <form action="/registra" name="login" method="post">

        <input type="text" name="name" id="name" placeholder="Name">
        <input type="text"  name="surname" id="surname" placeholder="Surname">
        <input type="email" name="email" id="email" placeholder="Email">
        <br>
        <input type="password" name="password" id="passoword" placeholder="Password">
        <input type="password" name="password1" placeholder="Repeat password">
        <input type="submit" value="Registrati!" name="submit" id="submit">
        <br>
        <br>
        <p>Torna al <a href="/">login</a></p>

    </form>
</div>
